<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading"><span class="logo" routerLink="/"><img src="../../../assets/img/logo.jpg" width="200"></span></div>



    <br>

    <br>
    <br><hr>

    <div class="list-group list-group-flush">
      <a [routerLink]="['/admin/dash']" class="list-group-item list-group-item-action bg-light">Dashboard</a>
      <a [routerLink]="['/admin/users']"  class="list-group-item list-group-item-action bg-light">Liste de utilisateur</a>
      <a [routerLink]="['/admin/commandes']"  class="list-group-item list-group-item-action bg-light">Liste de Commandes</a>
      <a [routerLink]="['/admin/categorie']"  class="list-group-item list-group-item-action bg-light">Liste de categories</a>
      <a [routerLink]="['/admin/reclamation']"  class="list-group-item list-group-item-action bg-light">List de reclamation</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper" style="background-color: white;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button type="button" class="btn-image white-text" id="menu-toggle" mdbBtn mdbWavesEffect>Pri</button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </nav>
    <div class="container-fluid">
      <!-- <h1 class="mt-4">Simple Sidebar</h1>
      <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
      <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p> -->
<router-outlet></router-outlet>

  </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
