<app-header></app-header>
<section class="login">
  <div class="container">
    <div class="login-form">
      <h2 class="form-title">Mot de passe oublié?</h2>
        <div *ngIf="!isOtpVerified">
          <form [formGroup]="verifyEmailForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="email" class="form-control" formControlName="email"
              placeholder="Entrez votre adresse email"/>
              <span class="text-danger"
                    *ngIf="verifyEmailFormControl.email.touched && verifyEmailFormControl.email.errors?.required">
                      Email est requis
              </span>
              <span class="text-danger"
                    *ngIf="verifyEmailFormControl.email.touched && verifyEmailFormControl.email.errors?.email">
                      Entrez une adresse mail valide
              </span>

            </div>
            <div  class="form-group form-button">
              <input type="submit"  name="envoyer" id="envoyer" class="form-submit" value="Envoyer"/>
            </div>
          </form>
          <span class="text-danger" *ngIf="invalidLogin">
            Nous ne pouvons pas vous trouver avec cet adresse mail!
          </span>
          <form [formGroup]="otpForm" (ngSubmit)="onOTPSubmit()">
            <div class="form-group">
              <input type="number" class="form-control" formControlName="otpNo" placeholder="code de vérification">
              <span class="text-danger" *ngIf="otpFormControl.otpNo.touched && otpFormControl.otpNo.errors?.required">
                Entrez le code de vérification
              </span>
              <span class="text-danger" *ngIf="otpFormControl.otpNo.touched && otpFormControl.otpNo.errors?.minlength">
                le code de vérification doit être composé de six chiffres
              </span>
            </div>
            <div class="form-group form-button">
              <input type="submit"  name="signin" id="signin" class="form-submit" value="Chèque"/>
            </div>
          </form>
          <span class="text-danger" *ngIf="invalidToken">
            invalide code !! Merci de consulter vos emails
          </span>
          <div *ngIf="isOtpVerified">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" *ngIf="isOtpVerified">
            <div class="form-group">
              <input type="password" class="form-control" formControlName="password"
                  placeholder="Enter new Password">
              <span class="text-danger"
                  *ngIf="resetPasswordFormControl.password.touched && resetPasswordFormControl.password.errors?.required">
                  Password is required
              </span>
              <span class="text-danger"
                  *ngIf="resetPasswordFormControl.password.touched && resetPasswordFormControl.password.errors?.invalidPassword">
                  Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase letter
                  and 1 number
              </span>
          </div>


          <div class="form-group">
              <input type="password" class="form-control" formControlName="confirmPassword"
                  placeholder="Confirm Password">
              <span class="text-danger"
                  *ngIf="resetPasswordFormControl.confirmPassword.touched && resetPasswordFormControl.confirmPassword.errors?.required">
                  Confirm password is required
              </span>
              <span class="text-danger"
                  *ngIf="resetPasswordFormControl.confirmPassword.touched && resetPasswordFormControl.confirmPassword.errors?.passwordMismatch">
                  passwords does not match
              </span>
          </div>
            <div class="form-group form-button">
              <input type="submit" class="form-submit" value="Changer" [disabled]="!resetPasswordForm.valid"/>
            </div>
          </form>
          </div>
      </div>
    </div>
  </div>
</section>
