<app-header></app-header>
<div class="container">
  <div class="title"><h1>Paramètres</h1></div>
  <div class="row">
    <div class="side-menu col-4 ">
      <ul class="list-group">
        <li class="list-group-item" routerLink="/parametres/settings">Mettre à jour le profil</li>
        <li class="list-group-item" routerLink="/parametres/boutique">Paramètres de la boutique</li>
        <li class="list-group-item" routerLink="/parametres/mettre-ajour">Adresse de livraison</li>
        <li class="list-group-item" routerLink="/parametres/updatePassword">Changer le mot de passe</li>
        <li class="list-group-item" routerLink="/parametres/boutique">Supprimer son Compte</li>
      </ul>

    </div>
    <div class="content col-6">
      <app-params-outlet></app-params-outlet>
    </div>

  </div>
</div>
