<div class="titre">
  <h2 >Marques</h2>
</div>
<div class="container">

<carousel>
  <div class="carousel-cell">
    <img src="../../../assets/img/marque1.png" >
</div>
<div class="carousel-cell">
  <img src="../../../assets/img/marque2.png">
</div>
<div class="carousel-cell">
  <img src="../../../assets/img/marque3.png">
</div>
<div class="carousel-cell">
  <img src="../../../assets/img/marque4.png">
</div>
<div class="carousel-cell">
  <img src="../../../assets/img/marque5.png">
</div>
<div class="carousel-cell">
  <img src="../../../assets/img/marque6.png">
</div>
<div class="carousel-cell">
  <img src="../../../assets/img/marque7.png">
</div>
<div class="carousel-cell">
  <img src="../../../assets/img/marque8.png">
</div>
<div class="carousel-cell">
  <img src="../../../assets/img/marque9.png">
</div>
<div class="carousel-cell">
  <img src="../../../assets/img/marque10.png">
</div>
</carousel>
</div>
