<app-header></app-header>
<div class="container">
  <div class="title"><h1>Commandes</h1></div>
  <div class="row">
    <div class="side-menu col-4 ">
      <ul class="list-group">
        <li class="list-group-item" >Commandes Actives</li>
        <li class="list-group-item">Commandes términer</li>
      </ul>

    </div>
    <div class="content col-6">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Commande</th>
            <th scope="col">Total</th>
            <th scope="col">Status</th>
            <th scope="col">Date</th>
            <th scope="col">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
