
<div style="border-radius: 6px;">
 <ngb-carousel  class="carousel" style="width: 80%;text-align: center;box-shadow: 0 1px 1px 0 rgb(0 0 0 / 10%); border-radius: 6px !important;">
  <ng-template ngbSlide >
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/carousel.png" alt="Random first slide">
    </div>
    <div class="details carousel-caption">
      <h3 class="d-titre">Electoro</h3>
      <p >Adobe XD Kit used for building eCommerce experience.
        Allowing simply build eCommerce layout without
        breaking any design barriers</p>
        <button class="login btn btn-primary">Inscription</button>
        <button class="login btn btn-primary">Voir plus</button>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/carousel.png" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img src="../../../assets/img/carousel.png" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
</div>

